---
import MainLayout from "../../layouts/mainLayout.astro";
import { t, changeLanguage } from "i18next";
import { LanguageSelector } from "astro-i18next/components";

changeLanguage("fr");
---

<MainLayout title={t("home.pageTitle")}>
  <LanguageSelector showFlag={true} class="my-select-class" />
  <h1>{t("home.title")}</h1>
</MainLayout>
