---
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout title="About">
    <h1 class="text-white">About</h1>
    <a href="/" class="text-white">
        <i class="fa-solid fa-arrow-pointer"></i> Home</a
    >
</GlobalLayout>
