---
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout title="Vincent Gonnet - Home">
    <main class="flex items-center justify-center flex-col">
        <h1 class="text-white">Home</h1>
        <a href="/about" class="text-white"
            ><i class="fa-solid fa-arrow-pointer"></i> About</a
        >
    </main>
</GlobalLayout>
