---
import { localizePath } from "astro-i18next";
import MainLayout from "../layouts/mainLayout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<MainLayout title="PAGE">
  <h1>{t("home.title")}</h1>
  <a href={localizePath("/cv")}>CV</a>
</MainLayout>
