---
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout title="Vincent Gonnet - Timeline">
	<div class="w-full flex flex-col items-center">
		<div class="w-fit">
			<h1 class="items-start ml-8 mb-2">Timeline</h1>
			<div class="outer">
				<div class="card">
					<div class="info">
						<h3 class="title text-lg">
							The begginings of a great journey
						</h3>
						<p>
							Back in middle school, a math teacher gathered a few
							students and created a programming club.<br />
							 We were supposed to learn Scratch, but as I was
							already familiar with it, he taught me the basics of
							Python instead.
							<br />I coded some simple text-based games, and
							learned by myself how to make graphical interfaces
							with Tkinter.
						</p>
					</div>
					<div class="info mt-4">
						<h3 class="title text-lg">Messing with Arduino</h3>
						<p>
							In ninth grade, I went to an observation internship
							in a company called "Industry Lab". They had
							electronic components, and I got to code on an
							Arduino card for the first time.<br /> C++ was new
							to me, but I managed to learn how to use buttons,
							LEDs and LCD screens.<br />
							 I was amazed by the possibilities, and got to
							understand a little bit more the world around me.
						</p>
					</div>
				</div>
				<div class="card">
					<div class="info">
						<h3 class="title text-lg">
							Plugin development : my first concrete program
						</h3>
						<p>
							A the beggining of high school, along with a group
							of friends, we created a Minecraft server.<br />
							 They would build and design minigames, while I was
							coding the custom plugin that would make it all
							work.<br />
							 It was my first introduction to Java, and OOP in
							general. <br />
							 I also learned about how to use databases (MySQL),
							and some basic networking (TCP/UDP, what is an IP
							address, SSH & SFTP protocol, etc).
						</p>
					</div>
					<div class="info mt-4">
						<h3 class="title text-lg">Discord bots with NodeJS</h3>
						<p>
							With a close friend of mine, we created a Discord
							server for roleplay sessions.<br />
							 To assist us, I created a Discord bot that would
							allow us to manage virtual characters, roll dices,
							create items, allow players to fight, use
							inventories, create potions, and so on.<br />
							 It was a very fun project, that felt just like
							creating a text-based multiplayer game in Discord.
							It was my first time using JavaScript too, and with
							that I learned about asynchronous programming, and
							how to use a database with NodeJS. <br />
							 Since then, I created a few other Discord bots, a
							Pokedex bot for example, that would allow you to
							search for a Pokemon and get its stats from an API.
						</p>
					</div>
					<div class="info mt-4">
						<h3 class="title text-lg">
							First experience with a Raspberry PI
						</h3>
						<p>
							I got my hands on a Raspberry PI 4 to host my
							Discord bots and experiment with other services.<br
							/>
							 I learned the basics about Linux, port forwarding,
							database hosting with CouchDB, and I set up a
							self-hosted cloud solution based on OwnCloud.<br />
						</p>
					</div>
					<div class="info mt-4">
						<h3 class="title text-lg">
							Mobile apps with Java in Android Studio, then
							ReactNative
						</h3>
						<p>
							During my last year of high school, I was interested
							in creating a mobile app, I wanted to learn how it
							works.<br />
							 I started with Java in Android Studio, and created
							a cookie clicker game.<br />
							 Then I tried ReactNative, and spent some time
							learning about components, props, states, and so on.
							I didn't know about React at the time.<br />
							 I created a counter app, with a menu to add or
							remove counters.<br />
						</p>
					</div>
				</div>
				<div class="card">
					<div class="info">
						<h3 class="title text-lg">
							React with engineeering shool club
						</h3>
						<p>
							Things started to get serious when I joined the
							University of Technology of Troyes. I met a lot of
							people with the same interests as me, all motivated
							to learn and create.<br />
							 I joined the UTT Net Group, an association that
							created and hosted services for the students and
							other associations. I helped maintaining a website
							for the <a
								class="underline underline-offset-1"
								target="_blank"
								href="https://arena.utt.fr/">UTT Arena</a
							>, discovering React the basics of web development
							with a framework.<br />
							 I also used Git on a team project for the first
							time.
						</p>
					</div>
					<div class="info mt-4">
						<h3 class="title text-lg">
							My firsts computer science course
						</h3>
						<p>
							For the first time in my life, I had lessons about
							coding. <br />
							 I learned about C, HTML and CSS. I never touched
							those languages before, and I was pleased to
							actually learn things that passionate me in school<br
							/>
							 I got to work on a few projects : a personal
							website for a fellow student, a jeu de taquin in C,
							and a <a
								class="underline underline-offset-1"
								target="_blank"
								href="https://github.com/VincentGonnet/Marcel-Manager"
								>desktop app in Python and C</a
							> with a graphical interface.
						</p>
					</div>
					<div class="info mt-4">
						<h3 class="title text-lg">
							Game making club : Unity and C#
						</h3>
						<p>
							During this year in engineering school, I created a
							club to learn and make games with Unity.<br />
							 I learned about C#, and of course Unity. We bought
							an online course and created a 2D arcade-platformer
							game.<br /> It was instructive to work with a team,
							assign roles, and manage a project. While some
							designed the assets or created the music, I was part
							of the coding team and thinking about the game
							mechanics.<br />
						</p>
					</div>
				</div>
				<div class="card">
					<div class="info">
						<h3 class="title text-lg">The self-hosted spirit</h3>
						<p>
							Moving back to my birth-town, I wanted to occupy my
							soon to be University life with personal projects.<br
							/>
							 I still had that Raspberry PI 4, but I felt like I
							could use an upgrade. Using the salary from my
							summer job, I bought a dedicated server. <br />
							 From this point onward, I started -through trials
							and errors- to learn as much as possible about
							Linux, networking, and server administration.<br />
							 I discovered Docker, then docker-compose. I set off
							a reverse proxy, coupled with a DNS server and
							automated SSL certificate delivery with Traefik. I
							bought myself a domain name. I was ready to deploy
							my services.<br />
							 I started with Nextcloud, to replace my old
							OwnCloud. Then I set up Portainer and Watchtower to
							manage my Docker containers. I didn't have Netflix,
							so why not hosting Jellyfin instead ? Uptime Kuma
							would keep track of my services, and I would see a
							nice summary of everything, along with custom links,
							on a homepage opening with my browser.<br />
							 Now that everything was ready, I could start
							hosting each of my projects on my own server. This
							is true liberty.<br />
						</p>
					</div>
					<div class="info mt-4">
						<h3 class="title text-lg">
							Mobile development part II with Flutter
						</h3>
						<p>
							During my free time in University, I started
							learning Flutter. I wanted to be able to create
							mobile apps, and I was curious about this new
							framework.<br />
							 I followed a 37h long course by FreeCodeCamp and
							modifyed the app to create <a
								class="underline underline-offset-1"
								target="_blank"
								href="https://github.com/VincentGonnet/Colorfool"
								>Colorfool</a
							>, a color picker app. <br /> I learned about using
							Firebase to authenticate users, and Firestore to
							store data.<br />
							 With that ready, I started thinking about "Project
							Universe" an app one would use to manage Roleplay
							session. I stopped working on it however, but it
							remains in the back of my head, and I'll finish it
							one day.<br />
						</p>
					</div>
				</div>
				<div class="card">
					<div class="info">
						<h3 class="title text-lg">
							Azelys : my own Minecraft server
						</h3>
						<p>
							With some good memories of our first Minecraft
							server, a friend and I decided to create a new one.<br
							/>
							 This time, it would be a survival server, based
							around a community of players helping each others.<br
							/>
							 With my newly-aquiered knowledge of networking, and
							my experience in plugin development, I was able to
							create a server that would be stable and secure.<br
							/>
							 It was self-hosted of course, and with Pterodactyl
							I had an administration panel to allow my friend and
							I to manage the server.<br />
							 We set up a Discord server, I coded a custom plugin
							with new features, and we started advertising.<br />
							 Features included a custom title system with goals
							and prefixes to earn, a custom warp system, and a
							lot of quality of life improvements.<br />
							 We had a lot of fun, and some success too, with now
							more than 70 registered players.<br />
							 I strengthened my knowledge of Java and databases,
							while developing some socials skills too
							(moderation, communication, etc).<br />
						</p>
					</div>
					<div class="info mt-4">
						<h3 class="title text-lg">It's Game JAM time !</h3>
						<p>
							During the summer of 2023, I participated in my
							first ever Game JAM (GMTK).<br />
							 Along with a group of friends, we created a game in
							48h.<br />
							 We were all gathered in the same room, and had very
							litte sleep, and it was a lot of fun.<br />
							 Challenges arose, like keeping a reasonable scope,
							and getting through the impossible merge conflicts
							Git and Unity were producing, but we (barely)
							managed to finish the game on time. It was sometimes
							buggy, not balanced at all, but we delivered it !<br
							/>
							 3 months later, we participated in another Game JAM
							(ludum dare) which went a lot better, with a
							satisfying game at the end.<br />
						</p>
					</div>
				</div>
				<div class="card">
					<div class="info">
						<h3 class="title text-lg">Websites and webapps</h3>
						<p>
							During the first few months of my second University
							year, my focus shifted towards building websites. <br
							/>
							 This website is the first of them. Others will
							follow, you can find them on my GitHub page.<br />
							 My goal is to learn about frameworks and tech
							stacks. This website is built using Astro,
							TailwindCSS, and Bun to replace NodeJS.
						</p>
					</div>
				</div>
				<div class="card">
					<div class="info">
						<h3 class="title text-lg">
							And the story continues...
						</h3>
						<p>
							Who knows what the future holds ? <br /> I'm
							currently an IT student in France, and I'm looking
							forward to learning more about the world of
							programming.<br />
							 You can check out my ongoing projects on my
							<a
								class="underline underline-offset-2"
								href="https://github.com/VincentGonnet/"
								target="_blank">GitHub</a
							>
							 or see the completed ones on the
							<a
								class="underline underline-offset-2"
								href="/projects">projects page</a
							>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</GlobalLayout>

<style>
	/* Card container */
	.card {
		position: relative;
		max-width: 600px;
	}

	/* setting padding based on even or odd */
	.card:nth-child(odd) {
		padding: 30px 0 30px 30px;
	}
	.card:nth-child(even) {
		padding: 30px 30px 30px 0;
	}
	/* Global ::before */
	.card::before {
		content: "";
		position: absolute;
		width: 50%;
		border: solid var(--color-primary);
	}

	/* Setting the border of top, bottom, left */
	.card:nth-child(odd)::before {
		left: 0px;
		top: -4.5px;
		bottom: -4.5px;
		border-width: 5px 0 5px 5px;
		border-radius: 50px 0 0 50px;
	}

	/* Setting the border of top, bottom, right */
	.card:nth-child(even)::before {
		right: 0;
		top: 0;
		bottom: 0;
		border-width: 5px 5px 5px 0;
		border-radius: 0 50px 50px 0;
	}

	/* Removing the border if it is the first card */
	.card:first-child::before {
		border-top: 0;
		border-top-left-radius: 0;
	}

	/* Removing the border if it is the last card  and it's odd */
	.card:last-child:nth-child(odd)::before {
		border-bottom: 0;
		border-bottom-left-radius: 0;
	}

	/* Removing the border if it is the last card  and it's even */
	.card:last-child:nth-child(even)::before {
		border-bottom: 0;
		border-bottom-right-radius: 0;
	}

	/* Information about the timeline */
	.info {
		display: flex;
		flex-direction: column;
		background: #2a3954;
		color: white;
		border-radius: 10px;
		padding: 10px;
	}

	/* Title of the card */
	.title {
		color: var(--color-primary);
		position: relative;
	}

	/* Timeline dot  */
	.title::before {
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		background: white;
		border-radius: 999px;
		border: 3px solid var(--color-primary);
	}

	/* text right if the card is even  */
	.card:nth-child(even) > .info > .title {
		text-align: right;
	}

	/* setting dot to the left if the card is odd */
	.card:nth-child(odd) > .info > .title::before {
		left: -45px;
	}

	/* setting dot to the right if the card is odd */
	.card:nth-child(even) > .info > .title::before {
		right: -45px;
	}
</style>
