---

---
<header class="flex w-full">
    <div>
        <a href="/">
            <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/language.png" alt="language"/>
        </a>
    </div>

</header>
