---
import { languages } from '../i18n/constants';
import { getLangFromUrl, getRouteFromUrl, translatePath } from '../i18n/utils';
const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);



---
<div class="flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden w-7 h-7 opacity-90 mr-2 lg:block">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 21l5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 016-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 01-3.827-5.802" />
    </svg>
      
    <ul>
        <li class={lang == "en" ? "selected text-lg" : "disabled text-lg"}><a href={translatePath(`/${route ? route : ''}`, "en")}>en</a></li>
        <li class={lang == "fr" ? "selected text-lg" : "disabled text-lg"}><a href={translatePath(`/${route ? route : ''}`, "fr")}>fr</a></li>
    </ul>
</div>

<style>
    li {
        margin-right: 10px;
        display: inline-block;
    }
    li.selected {
        text-decoration: none;
        text-underline-offset: 4px; /* increase space between text and underline */
        text-decoration-thickness: 2px;
        text-decoration-color: blueviolet;
    }
</style>