---

---

<nav class="hidden lg:flex items-center">
	<ul class="list-none text-[var(--color-text)]">
		<li class="inline m-4 text-lg hover:underline">
			<a href="/timeline">Timeline</a>
		</li>
		<li class="inline m-4 text-lg hover:underline">
			<a href="/projects">Projects</a>
		</li>
		<li class="inline m-4 text-lg hover:underline">
			<a href="/contact">Contact</a>
		</li>
	</ul>
</nav>
