---
import LanguagePicker from "./LanguagePicker.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<aside
	class="nav-menu fixed top-0 right-0 z-10 w-80 h-screen shadow-2xl transition-transform translate-x-80 bg-[#121D2F] lg:hidden flex flex-col items-center">
	<hr class="h-12" />
	<LanguagePicker />
	<hr class="h-7" />
	<a class="m-2 text-lg" href={translatePath('/timeline/')}>{t('nav.timeline')}</a>
	<a class="m-2 text-lg" href={translatePath('/projects/')}>{t('nav.projects')}</a>
	<a class="m-2 text-lg" href={translatePath('/contact/')}>{t('nav.contacts')}</a>
</aside>
