---

---

<aside
	class="nav-menu fixed top-0 right-0 z-10 w-80 h-screen shadow-2xl transition-transform translate-x-80 bg-[#121D2F] lg:hidden flex flex-col items-center">
	<hr class="h-12" />
	<a class="m-2 text-lg" href="/timeline">Timeline</a>
	<a class="m-2 text-lg" href="/projects">Projects</a>
	<a class="m-2 text-lg" href="/contact">Contact</a>
</aside>
