---
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="flex justify-center max-w-full min-w-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body
		class="max-w-full min-w-full min-h-screen lg:max-w-5xl lg:min-w-[1024px] overflow-x-hidden">
		<Header transition:persist />
		<main class="p-5">
			<slot />
		</main>
		<style is:global>
			:root {
				/* Color constants */
				--color-primary: #38bdf8;
				--color-text: #ccccb5;
			}

			html {
				margin: 0px;
				box-sizing: border-box;
				background-color: #1e293b;
				color: var(--color-text);
			}

			h1 {
				font-size: 2rem;
				font-weight: 700;
				margin: 0px;
			}
		</style>
	</body>
</html>
